* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;
    font-family: "Mulish", sans-serif;
}
body {
    font-size: 1.6rem;
    height: 100vh;
    overflow-x: hidden;
}
#app {
    display: grid;
    grid-template-rows: max-content 1fr max-content;
}

.header {
    display: flex;
    align-items: center;
    gap: 2.5rem;
    background-color: #065E7C;

    padding: 1.6rem 2.4rem;
}

.search-label {  /*aqui eu deixei a label sem aparecer*/
    position: absolute;
    display: block;
    overflow: hidden;
    width: 1px;
    height: 1px;
}

.my-figure {
    width: 4.0rem;
    height: 4.0rem;
    border-radius: 100%;
}

.input-wrapper {
    flex: 1;
}

.search-input {
    width: 100%;
    border-radius: 4px;
    background-color: #0c7ca1;
    border: none;
    padding: 1.2rem 1.2rem;
    color: white;
}
.search-input::placeholder {
    color: white;
    text-align: center;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 600;
    line-height: 100%; /* 16px */

   
}

.cat-figure {
    width: 100%;
   
}

.page {
    padding: 0 2.5rem  ;
}

aside {
    padding: 0 2.5rem 3.0rem ;
}
h1 {
    
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 160%; /* 38.4px */
}
.option-like {
    display: flex;
    gap: .8rem;
}

.information {
    margin-top: 3.0rem;
    color:#121214;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 160%; /* 25.6px */

}
.article {
    margin-top: 3.2rem;
    display: flex;
    flex-direction: column;
    gap: 3.2rem;

}

aside {
    margin-top: 3.4rem;
}
.galery {
    display: flex;
    flex-direction: row;
    gap: 1.6rem;
}
.galery img {
    object-fit: cover;
    aspect-ratio: 16/9;
    border-radius: 4px;
    
}

.galery strong {
    
    font-family: Mulish;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 700;
    line-height: 160%; /* 28.8px */
}

footer {
    text-align: center;
    background-color: #0c7ca1;
    color: #FFF;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: normal;

    padding: 2.6rem 1.6rem;
}

@media (min-width: 70em) {



main {
    display: grid;
    grid-template-columns: 60% 40%;
    column-gap: 3.4rem;

    padding: 4.4rem 11.0rem;
}
.page {
    padding: 0;
}
aside {
    margin: 0;
}

}

